@tailwind base;   /* 告诉tailwind css 引入基础样式 */
@tailwind components;  /* 告诉tailwind css 引入组件样式 */
@tailwind utilities;   /* 告诉tailwind css 引入工具类样式 */


/*自定义全局样式*/

/*整个网页默认白底黑字*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*媒体查询，根据用户的系统主题偏好（用户选择黑色），选择黑底白字*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
